body{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #F3904F;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #3B4371, #F3904F);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #3B4371, #F3904F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: 'Roboto', sans-serif;
}

main{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.char_container{
	width: 400px;
	height: 500px;
	overflow: hidden;
}
iframe{
	object-fit: contain;
	width: 430px;
	height: 560px;
}
.container{
	width: 350px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
	background: rgba( 255, 255, 255, 0.25 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 4px );
	-webkit-backdrop-filter: blur( 4px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
	margin: 5px 20px;
}

.card_header{
	width: inherit;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.card_header img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	object-fit: contain;
	padding: 1px;
	border: 1px solid #021a40;
}
.titles{
	text-align: center;
}
.titles h1{
	margin-bottom: 0px;
}
.titles p{
	margin-top: 8px;
}

.button {
 font-family: inherit;
 background: #2CA0D9;
 color: white;
 padding: 1.2em 0;
 font-size: 17px;
 border: none;
 border-radius: 0.7em;
 letter-spacing: 0.08em;
 position: relative;
 display: flex;
 align-content: center;
 align-items: center;
 overflow: hidden;
 height: 2.1em;
 width: 250px;
 padding-left: 40%;
 padding-right: 0.9em;
}

.button .icon {
 background: #fff;
 height: 2em;
 width: 2em;
 border-radius: 2em;
 position: absolute;
 display: flex;
 align-items: center;
 justify-content: center;
 left: 0.4em;
 transition: all 0.5s;
}

.icon svg {
 margin: 0;
 transition: all 0.5s;
 color: #2CA0D9;
 width: 1.4rem;
 height: 1.4rem;
}

.button:hover .icon svg {
 transform: rotate(360deg);
}

.button:hover .icon {
 width: calc(100% - 0.85rem);
 border-radius: 0.5em;
}

.card_body button{
	margin: 10px 0px;
}

@media(max-width: 840px){
	.container{
		width: 310px;
	}
}
@media(max-width:700px){
	.char_container{
		display: none;
	}
}
@media(max-width: 500px){
	.container{
		width: 290px;
		margin-right: 10px;
	}
}